* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: slategray;
  padding: 1.33em;
}

h1 {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.4;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.31em;
}

.links {
  margin-top: 23px;
}

.links a {
  font-size: 1.6em;
  text-decoration-line: none;
  margin-right: 0.3em;
}

.links a :hover {
  color: rgb(80, 80, 80);
}
